<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.blogserver.mapper.ArticleStatsMapper">
    <update id="update" parameterType="com.blog.entry.ArticleStats">
        update article_stats
        <set>
            <if test="viewCount != null">view_count = #{viewCount},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="commentCount != null">comment_count = #{commentCount},</if>
            <if test="favoriteCount != null">favorite_count = #{favoriteCount},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </set>
        where article_id = #{articleId}
    </update>

    <select id="getByArticleIds" resultType="com.blog.entry.ArticleStats">
        select *
        from article_stats
        where article_id in
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="batchIncrementViewCount">
        INSERT INTO `article_stats` (article_id, view_count, updated_time)
        VALUES
        <foreach collection="articleStatsList" item="item" separator=",">
            (#{item.articleId}, #{item.viewCount}, #{item.updatedTime})
        </foreach>
        AS new
        ON DUPLICATE KEY UPDATE
        view_count = article_stats.view_count + new.view_count,
        updated_time = new.updated_time
    </insert>

</mapper>
