<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.blogserver.mapper.CategoryMapper">
    <update id="update" parameterType="com.blog.entry.Category">
        update category
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="slug != null">slug = #{slug},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </set>
        where id = #{id}
    </update>

    <select id="getByIds" resultType="com.blog.entry.Category">
        select *
        from category
        where id in
        <foreach collection="categoryIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
