<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.blogserver.mapper.CommentMapper">
    <select id="pageQueryPublished" resultType="com.blog.entry.Comment">
        select *
        from comment
        <where>
            status = 1
            <if test="articleId != null">
                and article_id = #{articleId}
            </if>
            and root_id = 0

        </where>
        order by created_time desc
    </select>

    <select id="pageQueryAdmin" resultType="com.blog.entry.Comment">
        select *
        from comment
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="articleId != null">
                and article_id = #{articleId}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="rootId != null">
                and root_id = #{rootId}
            </if>
            <if test="replyUserId != null">
                and reply_user_id = #{replyUserId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                and content like concat('%', #{keyword}, '%')
            </if>
        </where>
        order by created_time desc
    </select>

    <select id="listByArticleId" resultType="com.blog.entry.Comment">
        select *
        from comment
        where article_id = #{articleId}
        order by created_time desc
    </select>

    <select id="listByRootIds" resultType="com.blog.entry.Comment">
        select *
        from comment
        where root_id in
        <foreach collection="rootIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by created_time asc
    </select>

    <select id="listByReplyToCommentIds" resultType="com.blog.entry.Comment">
        select *
        from comment
        where comment.reply_to_comment_id in
        <foreach collection="replyToCommentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by created_time asc
    </select>

    <select id="listByArticleIds" resultType="com.blog.entry.Comment">
        select *
        from comment
        where article_id in
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by created_time desc
    </select>

    <update id="update" parameterType="com.blog.entry.Comment">
        update comment
        <set>
            <if test="articleId !=null">article_id = #{articleId},</if>
            <if test="parentId !=null">parent_id = #{parentId},</if>
            <if test="rootId !=null">root_id = #{rootId},</if>
            <if test="replyUserId !=null">reply_user_id = #{replyUserId},</if>
            <if test="replyToCommentId !=null">reply_to_comment_id = #{replyToCommentId},</if>
            <if test="content !=null">content = #{content},</if>
            <if test="userId !=null">user_id = #{userId},</if>
            <if test="status !=null">status = #{status},</if>
            <if test="likeCount !=null">like_count = #{likeCount},</if>
            <if test="updatedTime !=null">updated_time = #{updatedTime},</if>
        </set>
        where id = #{id}
    </update>

    <insert id="commentBatchUpsert">
        INSERT INTO `comment` (id, status, updated_time)
        VALUES
        <foreach collection="commentList" item="item" separator=",">
            (#{item.id}, #{item.status}, #{item.updatedTime})
        </foreach>
        AS new
        ON DUPLICATE KEY UPDATE
        status = new.status,
        updated_time = new.updated_time
    </insert>


</mapper>
