<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.blogserver.mapper.UserMapper">
    <update id="update" parameterType="com.blog.entry.User">
        update user
        <set>
            <if test="username !=null">username = #{username},</if>
            <if test="password !=null">password = #{password},</if>
            <if test="email !=null">email = #{email},</if>
            <if test="role !=null">role = #{role},</if>
            <if test="avatarUrl !=null">avatar_url = #{avatarUrl},</if>
            <if test="createTime !=null">create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>


    <select id="getUsersByIds" resultType="com.blog.entry.User">
        SELECT * FROM user WHERE id IN
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>